<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Homepage</h1>
    
    <div id="box">
        <div id="profile"> 
            <% if (user) { %>
                <h2><%= user.name %></h2>
                <ul>
                    <label>Age:</label>
                    <input type="number" value="<%=user.age%>">
                </br>
                </br>
                    <label>Interest:</label>
                    <input type="text" value="<%=user.interest%>">
                </br>
                </br>
                    <label>Email:</label>
                    <input type="text" value="<%=user.email%>">
                </br>
                </br>
                    <li> Age: <%=user.age%> </li>
                    <li> Interest: <%=user.interest%> </li>
                    <li> Email: <%=user.email%> </li>

                </ul>

                <div> <!--https://docs.mongodb.com/manual/reference/method/db.collection.update/-->
                    <button class="btn" onclick="location.href='http://localhost:3000/user/login'" type="button">Update Profile</button>
                </div> </br>


                <!--Log out button-->
                <div>
                    <button class="btn" onclick="location.href='http://localhost:3000'" type="button">Log Out</button>
                </div> </br>
                

                <!--Delete user button-->
                <form method="POST" action="http://localhost:3000/user/delete" name='slet' role="form" enctype="application/json" id="slet">
                    <div >
                        <input type="text" value='<%= user._id %>' name="id" style="display: none;">
                        <input type="submit" class="btn" value="Delete">
                    </div>
                </form>

            <% } %>

        </div>

        <div id='pMatches'>
            <h2>Potential Matches</h2>
        </div>
    
        <div id='matches'>
            <h2>Matches</h2>
        </div>

    </div>
    

</body>
</html>