<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Homepage</h1>

    <div id="profile"> 
        <% if (user) { %>
                <h2><%= user.name %></h2>
                <ul>
                    <li> Age: <%=user.age%> </li>
                    <li> Interest: <%=user.interest%> </li>
                    <li> Email: <%=user.email%> </li>

                </ul>
        
         <div id="knap">
            <button class="btn" onclick="location.href='http://localhost:3000'" type="button">Log Out</button>
        </div>
        </br>

        <!--Knap til at slette user-->
        <form method="POST" action="http://localhost:3000/user/delete" name='slet' role="form" enctype="application/json" id="slet">
        <div >
            <input type="text" value='<%= user._id %>' name="id" style="display: none;">
            <input type="submit" class="btn" value="Delete">
        </div>
        </form>

        <% } %>

    </div>
   
    <div id='matches'>
        <h2>Matches?</h2>
    </div>

</body>
</html>