<div id='pMatches'>
    <form method="POST" action="http://localhost:3000/user/like" name="likeForm" role="form" enctype="application/json">
        <h2>Potential Matches</h2>

        <div id="list">
            <% if (ul) { %>
                <h3><%=ul[0].name%></h3>
                <ul>
                    <li> Age: <%=ul[0].age%> </li>
                    <li> Interest: <%=ul[0].interest%> </li>
                    <li> Email: <%=ul[0].email%> </li>
                </ul>
            </br>
                <input type="text" value='<%= ul[0].name %>' name="name" style="display: none;" >
                <input type="text" value='<%= ul[0].age %>' name="age" style="display: none;" >
                <input type="text" value='<%= ul[0].interest %>' name="interest" style="display: none;" >

                <input type="submit" class="likeBnt" value="Like">
                <input type="submit" class="dislikeBnt" value="Dislike">

    </form>
                <h3><%=ul[1].name%></h3>
                <ul>
                    <li> Age: <%=ul[1].age%> </li>
                    <li> Interest: <%=ul[1].interest%> </li>
                    <li> Email: <%=ul[1].email%> </li>
                </ul>
            </br>
                <button type="button" class="likeBnt"> Like </button>
                <button type="button" class="dislikeBnt"> Dislike </button>
                
                <h3><%=ul[2].name%></h3>
                <ul>
                    <li> Age: <%=ul[2].age%> </li>
                    <li> Interest: <%=ul[2].interest%> </li>
                    <li> Email: <%=ul[2].email%> </li>
                </ul>
            </br>
                <button type="button" class="likeBnt"> Like </button>
                <button type="button" class="dislikeBnt"> Dislike </button>

                <h3><%=ul[3].name%></h3>
                <ul>
                    <li> Age: <%=ul[3].age%> </li>
                    <li> Interest: <%=ul[3].interest%> </li>
                    <li> Email: <%=ul[3].email%> </li>
                </ul>
            </br>
                <button type="button" class="likeBnt"> Like </button>
                <button type="button" class="dislikeBnt"> Dislike </button>

            <% } %>
        </div>
    
</div>